.offscreen {
  position: absolute;
  left: -10000px;
}

.skip-link {
  position: absolute;
  top: -999px;
  left: 0;
  background: $text-shadow-color;
  padding: 14px;
  z-index: 1;
  color: $font-color;
}

.skip-link:focus,
.skip-link:active {
  top: auto;
  left: auto;
}

.error_message {
  text-align: center;
  font-size: 1rem;
  color: red;
  font-weight: normal;
  display: none;
  transition: all 0.3s linear;
}

.show {
  display: block;
}

.logout_icon {
  position: absolute;
  top: 7%;
  right: 2%;
  cursor: pointer;
  display: none;
  transition: all 0.3s linear;
  font-size: 1.25rem;
  @include mq(1024px) {
    display: flex;
    align-items: center;
  }

  i {
    margin-right: 0.5rem;
  }
  &:hover {
    transform: scale(1.1);
  }
}
